@media only screen and (max-width: 680px) {
  #nav-container {
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../img/paint_bg.JPG);
    height: auto;
    bottom: 0;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .painting_container {
    display: inline-block;
    padding: 40px;
    margin-bottom: 20px;
  }
  .paintings {
    display: inline-flex;
  }
  .paint_img {
    margin: auto;
  }
  .paint_txt {
    padding: 30px;
    display: flow-root;
    text-align: left;
    color: white;
    font-weight: 900;
    -webkit-text-stroke: 1px #333;
    text-shadow: 0px 2px 2px #333;
  }
  .paint_txt h3 {
    font-size: 22px;
  }
  .paint_txt h5 {
    font-size: 18px;
    text-align: right;
  }
}
